.btn {
  border: 1rem;
  background: rgb(115, 155, 137);
  color: rgb(27, 75, 170);
  cursor: pointer;
  font-weight: 600;
  padding: 1rem 1rem;
  border-radius: 5px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  text-decoration: underline;
  background-color: rgba(0, 0, 255, 0.1); /* subtle hover bg */
}